body,
h1,
h2,
h3,
p,
small,
span {
  padding: 0;
  margin: 0;
}

img{
    max-width: 100%;
}

/* HEADER */

body{
    background-color: #F8F8FF;
}
.img-principal{
    max-width: 100%;
}

.conteudo-1{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.alinhamento {
    display: flex;
    align-items: center;
}

.cor-roxa{
    color: #846AFF;
}

.paragrafo-principal{
    color: #121214;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.botao-principal{
    background-color: #846AFF;
    color: #F8F8FF;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    padding: 14px 32px;
}

/* HEADER MEDIA QUERY */
@media (max-width: 1000px) {
    .alinhamento {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      
    }
    .conteudo-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteudo-1 h1{
        font-size: 30px;
    }
    .conteudo-1 p{
        font-size: 15px;
    }
    .oder-2{
        order: -1;
    }
    .botao-principal{
        padding: 20px 60px;
    }
  }

@media (max-width: 750px) {
    .alinhamento {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      
    }
    .conteudo-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteudo-1 h1{
        font-size: 30px;
    }
    .conteudo-1 p{
        font-size: 15px;
    }
    .oder-2{
        order: -1;
    }
    .botao-principal{
        padding: 20px 60px;
    }
  }
  @media (max-width: 450px) {
    .alinhamento {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      
    }
    .img-principal{
        width:300px
    }

    .img-principal{
        display: none;
    }

    .conteudo-1 h1{
        font-size: 40px;
    }
    .conteudo-1 p{
        font-size: 20px;
    }
    .oder-2{
        order: -1;
    }
    .botao-principal{
        padding: 20px 60px;
    }
  }

  /* section */

.conteudo-2{
    padding: 30px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    text-align: center;
}

.conteudo-2 h3{
    font-size: 18px;
}


  /* section media*/


@media (max-width: 790px){
    h2{
        text-align: center;

    }
    .row-p{
        display: grid;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .col-p{
        width: 380px;
        height: auto;
    }
}